
<div class="row">
	<div class="span8 offset1">
		<h2>what</h2>
		checkItOff is a task-management web app that can help you keep track of what needs to be done.
		
		<br>
		<br>
		<h2>why</h2>
		Everyday we come up with new things to do, and how do we possibly remember everything we need to do?<br><br>		
		Do you always find yourself forgetting what you want to do? <br><br>
		Do you want somewhere convenient to access all your tasks?<br><br>
		Then checkItOff is the best way to store all your tasks that need to be done!<br><br>
		<br>
	</div>
</div>	