
<div class="row">
	<div class="span8 offset1">
		<h2>who</h2>
		Website created by Jevon Yeoh, currently a Sophomore at the University of Pennsylvania. <br>
		He is currently a dual-degree candidate pursuing a BSEngine in Computer Science in the <br>
		School of Engineering and Applied Sciences and a BSEcon at the Wharton School.
		
		<br>
		<br>
		<h2>contact</h2>
		Feel free to contact him at jevony[at]seas[dot]upenn[dot]edu with any queries.
		<br><br>
		<h2>for</h2>
		Website built for CIS 196, Ruby on Rails class at the University of Pennsylvania.
	</div>
</div>	